<footer class="blog-footer pt-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 mt-3">
        <p class="lead font-weight-bold">
          <%= link_to 'APPSIMPACT Technologies', root_path %>
        </p>
        <p>
          <%= link_to '@2020', 'javascript:void(0)' %>
        </p>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <li class="pt-3 font-weight-bold"><%= link_to 'Home', root_path, data: { turbolinks: false } %></li>
          <li class="pt-3 font-weight-bold"><%= link_to 'Documents', documents_path, data: { turbolinks: false } %></li>
        </ul>  
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <li class="pt-3 font-weight-bold text-white">Contact Info:</li>
          <li class="pt-3 text-white">info@appsimpact.com</li>
          <li class="pt-3 text-white">+91 9770-233-163</li>
        </ul>  
      </div>
    </div>
  </div>
</footer>
