<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">In this demo application we will demonstrate that how you can upload documents using active records and convert preview of PDF pages as images.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Try it now</a>
  </p>
</div>
